body {
  background-attachment: fixed;
  background-position: center;    background-image: url("images/workspace.jpg");
}

header {
  height: 40px;
}

@font-face {
    font-family: "Avenir Next LT Medium";
    src: url("AvenirNextLTPro-MediumCn.otf") format("opentype");
}

@font-face {
    font-family: "Avenir Next LT Pro Demi";
    src: url("AvenirNextLTPro-Demi.otf") format("opentype");
}

.button {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #FFFFFF;
  color: #7E8087;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #F2F2F2;
  color: #A8AAB3;
}

.button:focus {
  outline: 0;
}

#editButton {
  top: 10px;
  right: 60px;
}

#addButton {
  right: 40px;
  top: -4px;
  padding: 0px;
  height: auto;
  width: auto;
  display: inline;
  font-size: 28px;
  cursor: pointer;
  color: #F0F4F5;
  background: transparent;
}

#addButton:hover {
  color: #FFFFFF;
}

#showAll {
  position: absolute;
  top: 6px;
  right: 65px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  display: inline;
  height: 20px;
  width: 90px;
  background: none;
  border: none;
}

#showAll:focus {
  outline: 0;
}


#newWorkspaceContainer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  color: #FFFFFF;
  font-family: "Avenir Next LT Medium";
  font-size: 16px;
  opacity: 0.8;
}

#closeDialogue {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 36px !important;
  color: #FFFFFF;
  cursor: pointer;
}

#newWorkspaceForm {
  padding: 20px;
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 14px;
}

#newWorkspaceTitle {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 260px;
}

.newWorkspaceSubTitle {
  font-size: 14px;
  display: block;
  width: 260px;
  margin: 0px;
}

#newWorkspaceForm input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #111;
  width: 240px;
  color: #FFFFFF;
}

#createNewWorkspace {
  left: 50%;
  margin-left: -50px;
  width: 100px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  background-color: #000000;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

#createNewWorkspace:hover {
  background-color: #0F1112;
}

.removeTabBtn {
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.addTabBtn {
  background-color: #0F0F0F;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #7E8087;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 4px;
}

.addTabBtn:focus {
  outline: 0;
}

.addTabBtn:hover {
  background-color: #121212;
  color: #A8AAB3;
}

.tabEntryContainer {
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#workspaceName {
  padding-top: 4px;
}

.mainTitle {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin: 0px;
  padding-left: 35px;
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
}

.mainTitle:hover {
  opacity: 1;
}

#containerHeader {
  clear: both;
}

#workspacesTitle {
  margin-left: 35px;
  padding: 0px;
  width: 180px;
  background: transparent;
  border: none;
  cursor: default;
}

#workspacesTitle:hover {
  opacity: 0.8;
}

#backButton {
  display: none;
  position: absolute;
  top: 7px;
  right: 45px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  height: 20px;
  width: 90px;
  background: none;
  border: none;
}

#backButton:focus {
  outline: 0;
}

#workspacesContainer {
  margin-top: 50px;
  position: absolute;
  height: 200px;
  width: 730px;
  margin-left: -365px;
  left: 50%;
  overflow: hidden;
}

#workspaces {
  position: absolute;
  height: 150px;
  width: 680px;
  left: 50%;
  margin-left: -340px;
  padding-bottom: 30px;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.workspace {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  height: 150px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.workspace:hover {
  background: rgba(255, 255, 255, 0.4);
}

.workspace:focus {
  outline: 0;
}

.workspaceName {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  letter-spacing: 1px;
}

.directionArrow {
  position: absolute;
  top: 55%;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Avenir Next LT Medium";
  font-size: 16px;
  opacity: 0.5;
}

.directionArrow:hover {
  opacity: 0.7;
}

.directionArrow:focus {
  outline: 0;
}

#directionArrowWorkspaceRight {
  right: 0px;
}

@media screen and (max-width: 760px) {

  #workspacesContainer {
    margin-top: 50px;
    position: absolute;
    height: 200px;
    width: 560px;
    margin-left: -280px;
    left: 50%;
    overflow: hidden;
  }

  #workspaces {
    position: absolute;
    height: 150px;
    width: 510px;
    left: 50%;
    margin-left: -255px;
    padding-bottom: 30px;
    overflow:scroll;
    overflow-y: hidden;
    white-space:nowrap;
  }
}

@media screen and (max-width: 560px) {
  #workspacesContainer {
    margin-top: 50px;
    position: absolute;
    height: 200px;
    width: 390px;
    margin-left: -195px;
    left: 50%;
    overflow: hidden;
  }

  #workspaces {
    position: absolute;
    height: 150px;
    width: 340px;
    left: 50%;
    margin-left: -170px;
    padding-bottom: 30px;
    overflow:scroll;
    overflow-y: hidden;
    white-space:nowrap;
  }1
}
