/********************************
MAIN
********************************/

/*FONT*/

@font-face {
    font-family: "Avenir Next LT Pro Demi";
    src: url("AvenirNextLTPro-Demi.otf") format("opentype");
}

/*GENERAL*/

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("images/workspace.jpg");

  font-family: "Avenir Next LT Pro Demi";
  color: #FFFFFF;
  overflow-y: hidden;
}

h1, h4, h5, h6 {
  letter-spacing: 1px;
  margin: 0px;
}

h1 {
  font-size: 24px;
  padding-top: 7px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 24px;
}

button {
  font-family: "Avenir Next LT Pro Demi";
  color: #FFFFFF;
}

button:focus {
  outline: 0;
}

/********************************
SIDEBAR - COMMON
********************************/

#sidebar {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.8;
}

#closeSidebar {
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0px;
  font-size: 36px !important;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 0.9;
}

#closeSidebar:hover {
  opacity: 1;
}

/********************************
SIDEBAR - WORKSPACE
********************************/

#workspaceForm {
  height: auto;
  width: 250px;
  padding: 25px;
}

#workspaceForm h4 {
  text-align: center;
}

#workspaceForm h5 {
  margin-top: 15px;
}

#workspaceForm h6 {
  text-align: center;
  margin-bottom: 30px;
}

#workspaceForm input {
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #FFFFFF;
  width: 220px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  color: #FFFFFF;
}

/*BUTTONS*/

.removeTab {
  background: transparent;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.9;
}

.removeTab:hover {
  opacity: 1;
}

.addTabButton {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  opacity: 0.6;
  cursor: pointer;
}

.addTabButton:hover {
  color: #FFFFFF;
  opacity: 0.8;
}

#saveWorkspace {
  margin: 30px 75px 0px 75px;
  display: block;
  height: 40px;
  width: 100px;
  font-size: 12px;
  background-color: #000000;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;

}

#saveWorkspace:hover {
  background-color: #0F1112;
}

/********************************
VIEW - COMMON
********************************/

#main {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -320px;
  height: 90%;
  width: 640px;
}

.indexContainer {
  width: 640px;
}

@media screen and (max-width: 768px) {
  #main {
    margin-left: -240px;
    width: 480px;
  }

  .indexContainer {
    width: 480px;
  }
}

@media screen and (max-width: 600px) {
  #main {
    margin-left: -160px;
    width: 320px;
  }

  .indexContainer {
    width: 320px;
  }
}

.headerButton {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px 5px 0px 15px;
  top: 15px;
  cursor: pointer;
  opacity: 0.8;
  float: right;
}

.headerButton:hover {
  opacity: 1;
}

/********************************
VIEW - WORKSPACE
********************************/

#workspacesContainer {
  height: 210px;
  margin-bottom: 20px;
  overflow: hidden;
}

#workspacesHeader {
  height: 40px;
  margin-bottom: 10px;
}

#workspacesHeader h1 {
  display: inline-block;
  margin-left: 5px;
}

#workspaces {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 80%;
  padding: 0px 0px 200px 0px;
}

#workspaces li {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.placeholder {
  height: 160px;
  width: 160px;
	float: left;
}

.workspace {
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  position: static;
  height: 150px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.workspace:hover {
  background: rgba(255, 255, 255, 0.3);
}

.workspaceArrows {
  position: absolute;
  top: 110px;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

.workspaceArrows:hover {
  opacity: 0.8;
}

#workspaceArrowLeft {
  left: -30px;
}

#workspaceArrowRight {
  right: -30px;
}

#workspacesBackButton {
  display: none;
}

#organizeWorkspacesButton {
  display: none;
}

#workspacesCancelButton {
	display: none;
}

#workspacesSaveButton {
	display: none;
}

.workspaceName {
  margin: 0px;
  text-align: center;
  width: 130px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  word-wrap: break-word;;
  white-space: normal;
}

#workspaceError {
  color: #ff4d4d;
  text-align: center;
  font-size: 12px;
}

#workspaceSuccess {
  color: #66cc66;
  text-align: center;
  font-size: 12px;
}

#helperMessageContainer {
	display: none;
	text-align: center;
	padding: 5px 10px 5px 10px;
	height: auto;
	width: 400px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -210px;
	background-color: #000000;
	font-size: 14px;
	opacity: 0.6;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/********************************
VIEW - WEBSITES
********************************/

#websitesContainer {
  height: 110px;
  margin-bottom: 20px;
}

#websitesHeader {
  height: 40px;
  margin-bottom: 10px;
}

#websitesHeader h1 {
  display: inline-block;
  margin-left: 5px;
}
