/********************************
MAIN
********************************/

/*FONT*/

@font-face {
    font-family: "Avenir Next LT Pro Demi";
    src: url("AvenirNextLTPro-Demi.otf") format("opentype");
}

/*GENERAL*/

body {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("images/workspace.jpg");

  font-family: "Avenir Next LT Pro Demi";
  color: #FFFFFF;
}

h1, h4, h5, h6 {
  letter-spacing: 1px;
  margin: 0px;
}

h1 {
  font-size: 24px;
  padding-top: 7px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 24px;
}

button {
  font-family: "Avenir Next LT Pro Demi";
  color: #FFFFFF;
}

button:focus {
  outline: 0;
}

/********************************
SIDEBAR - COMMON
********************************/

#sidebar {
  display: none;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  padding-top: 60px;
  color: #FFFFFF;
  font-size: 16px;
  opacity: 0.8;
}

#closeSidebar {
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0px;
  font-size: 36px !important;
  color: #FFFFFF;
  cursor: pointer;
  opacity: 0.9;
}

#closeSidebar:hover {
  opacity: 1;
}

/********************************
SIDEBAR - WORKSPACE
********************************/

#workspaceForm {
  height: auto;
  width: 250px;
  padding: 25px;
}

#workspaceForm h4 {
  text-align: center;
}

#workspaceForm h5 {
  margin-top: 15px;
}

#workspaceForm h6 {
  text-align: center;
  margin-bottom: 30px;
}

#workspaceForm input {
  margin-bottom: 5px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #FFFFFF;
  width: 220px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  color: #FFFFFF;
}

/*BUTTONS*/

.removeTab {
  background: transparent;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.9;
}

.removeTab:hover {
  opacity: 1;
}

.addTabButton {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  background: transparent;
  border: none;
  color: #FFFFFF;
  opacity: 0.6;
  cursor: pointer;
}

.addTabButton:hover {
  color: #FFFFFF;
  opacity: 0.8;
}

#saveWorkspace {
  margin: 30px 75px 0px 75px;
  display: block;
  height: 40px;
  width: 100px;
  font-size: 12px;
  background-color: #000000;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  cursor: pointer;
  color: #FFFFFF;

}

#saveWorkspace:hover {
  background-color: #0F1112;
}

/********************************
VIEW - COMMON
********************************/

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -210px;
  margin-left: -320px;
  height: 420px;
  width: 640px;
}

.indexContainer {
  width: 640px;
}

@media screen and (max-width: 768px) {
  #main {
    margin-top: -110px;
    margin-left: -240px;
    height: 320px;
    width: 480px;
  }

  .indexContainer {
    width: 480px;
  }
}

@media screen and (max-width: 600px) {
  #main {
    margin-top: -110px;
    margin-left: -160px;
    height: 220px;
    width: 320px;
  }

  .indexContainer {
    width: 320px;
  }
}

.headerButton {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  padding: 0px;
  margin: 0px 5px 0px 15px;
  top: 15px;
  cursor: pointer;
  opacity: 0.8;
  float: right;
}

.headerButton:hover {
  opacity: 1;
}

/********************************
VIEW - WORKSPACE
********************************/

#workspacesContainer {
  height: 210px;
  margin-bottom: 20px;
  overflow: hidden;
}

#workspacesHeader {
  height: 40px;
  margin-bottom: 10px;
}

#workspacesHeader h1 {
  display: inline-block;
  margin-left: 5px;
}

#workspaces {
  padding-bottom: 30px;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.workspace {
  padding: 0px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  height: 150px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

.workspace:hover {
  background: rgba(255, 255, 255, 0.3);
}

.workspaceArrows {
  position: absolute;
  top: 110px;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

.workspaceArrows:hover {
  opacity: 0.8;
}

#workspaceArrowLeft {
  left: -30px;
}

#workspaceArrowRight {
  right: -30px;
}

/********************************
VIEW - FAVORITES
********************************/

#favoritesContainer {
  height: 110px;
  margin-bottom: 20px;
}

#favoritesHeader {
  height: 40px;
  margin-bottom: 10px;
}

#favoritesHeader h1 {
  display: inline-block;
  margin-left: 5px;
}












































/*



.button {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #FFFFFF;
  color: #7E8087;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #F2F2F2;
  color: #A8AAB3;
}

.button:focus {
  outline: 0;
}

#editButton {
  top: 10px;
  right: 60px;
}

#addButton {
  left: 215px;
  top: -8px;
  padding: 0px;
  height: auto;
  width: auto;
  display: inline;
  font-size: 28px;
  cursor: pointer;
  color: #F0F4F5;
  background: transparent;
}

#addButton:hover {
  color: #FFFFFF;
}

#showAll {
  text-align: right;
  position: absolute;
  top: 6px;
  right: 35px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  display: inline;
  height: 20px;
  width: 90px;
  background: none;
  border: none;
}

#showAll:focus {
  outline: 0;
}

#newWorkspaceForm {
  padding: 20px;
  color: #FFFFFF;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 14px;
}


#newWorkspaceForm input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #111;
  width: 240px;
  color: #FFFFFF;
}

#createNewWorkspace {
  left: 50%;
  margin-left: -50px;
  width: 100px;
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  background-color: #000000;
  border-radius: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

#createNewWorkspace:hover {
  background-color: #0F1112;
}


.addTabBtn {
  background-color: #0F0F0F;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #7E8087;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 4px;
}

.addTabBtn:focus {
  outline: 0;
}

.addTabBtn:hover {
  background-color: #121212;
  color: #A8AAB3;
}

.tabEntryContainer {
  width: 300px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#workspaceName {
  padding-top: 4px;
}

.mainTitle {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 1px;
  margin: 0px;
  padding-left: 35px;
  opacity: 0.8;
  cursor: pointer;
  display: inline-block;
}

.mainTitle:hover {
  opacity: 1;
}

#containerHeader {
  clear: both;
}

#workspacesTitle {
  margin-left: 35px;
  padding: 0px;
  width: 180px;
  background: transparent;
  border: none;
  cursor: default;
}

#workspacesTitle:hover {
  opacity: 0.8;
}

#backButton {
  text-align: right;
  display: none;
  position: absolute;
  top: 7px;
  right: 35px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  height: 20px;
  width: 90px;
  background: none;
  border: none;
}

#backButton:focus {
  outline: 0;
}

#workspacesContainer {
  margin-top: 50px;
  position: absolute;
  height: 200px;
  width: 730px;
  margin-left: -365px;
  left: 50%;
  overflow: hidden;
}

#workspaces {
  position: absolute;
  height: 150px;
  width: 680px;
  left: 50%;
  margin-left: -340px;
  padding-bottom: 30px;
  overflow:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}

.workspace {
  padding: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  height: 150px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.workspace:hover {
  background: rgba(255, 255, 255, 0.4);
}

.workspace:focus {
  outline: 0;
}

.workspaceName {
  font-family: "Avenir Next LT Pro Demi";
  font-size: 12px;
  letter-spacing: 1px;
}

.directionArrow {
  position: absolute;
  top: 55%;
  background: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: "Avenir Next LT Medium";
  font-size: 16px;
  opacity: 0.5;
}

.directionArrow:hover {
  opacity: 0.7;
}

.directionArrow:focus {
  outline: 0;
}

#directionArrowWorkspaceRight {
  right: 0px;
}

@media screen and (max-width: 760px) {

  #workspacesContainer {
    margin-top: 50px;
    position: absolute;
    height: 200px;
    width: 560px;
    margin-left: -280px;
    left: 50%;
    overflow: hidden;
  }

  #workspaces {
    position: absolute;
    height: 150px;
    width: 510px;
    left: 50%;
    margin-left: -255px;
    padding-bottom: 30px;
    overflow:scroll;
    overflow-y: hidden;
    white-space:nowrap;
  }
}

@media screen and (max-width: 560px) {
  #workspacesContainer {
    margin-top: 50px;
    position: absolute;
    height: 200px;
    width: 390px;
    margin-left: -195px;
    left: 50%;
    overflow: hidden;
  }

  #workspaces {
    position: absolute;
    height: 150px;
    width: 340px;
    left: 50%;
    margin-left: -170px;
    padding-bottom: 30px;
    overflow:scroll;
    overflow-y: hidden;
    white-space:nowrap;
  }1
}*/
